# ip
CONFIG_FEATURE_HAVE_RPC=y
CONFIG_IP=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_FEATURE_IP_TUNNEL=y
CONFIG_FEATURE_IP_RULE=y
CONFIG_FEATURE_IP_SHORT_FORMS=y
CONFIG_FEATURE_IP_ALIGN=y

# useradd
CONFIG_ADDUSER=y
CONFIG_ADDGROUP=y
CONFIG_MODPROBE=y

# modprobe
CONFIG_FEATURE_MODPROBE_SMALL_CHECKS=y
CONFIG_FEATURE_MODPROBE_FANCY=y
CONFIG_FEATURE_CHECK_TAINTED_MODULE=y

# shadow + getty/login/passwd
CONFIG_PASSWD=n
CONFIG_ADDUSER=y
CONFIG_DELUSER=y
CONFIG_ADDGROUP=y
CONFIG_DELGROUP=y
CONFIG_FEATURE_ADDUSER_TO_GROUP=y
CONFIG_FEATURE_SHADOWPASSWDS=y
CONFIG_LOGIN=y
CONFIG_FEATURE_DEFAULT_PASSWD_ALGO=""
CONFIG_USE_BB_PWD_GRP=y
CONFIG_USE_BB_SHADOW=y
CONFIG_USE_BB_CRYPT=n
CONFIG_CHPASSWD=n
#CONFIG_SU=y
CONFIG_FEATURE_SU_CHECKS_SHELLS=y
CONFIG_GID=y
CONFIG_ID=y
CONFIG_GROUPS=y
CONFIG_WHOAMI=y
CONFIG_LOGNAME=y
CONFIG_USERS=y
CONFIG_GROUPADD=y
CONFIG_GROUPDEL=y
CONFIG_GROUPMOD=y
CONFIG_FEATURE_GROUPADD_AUTOMATIC_GID=y

# speedup
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_NOFORK=y
CONFIG_FEATURE_PREFER_APPLETS=y

# broken on riscv32 in this version of busybox
CONFIG_HWCLOCK=n
